.cartProductContainer{
    display: flex;
    flex-direction: column;
    padding: 20px 20px 10px 10px;
    width: 100vw;
    gap:15px;
    align-items: start;
}

.cartProductContainer > .cartProducts {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    gap: 15px;
    align-items: flex-start;
    justify-content: start;
}

.cartProducts{
    flex-direction: row;
    justify-content: start;
}

.cartTotal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 25%;
}

.cartTotalContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
