.productDetailContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    min-height: 100vh;
    padding: 20px;
    width: 70%;
}

.productTitle{
    color: var(--gray-blue-grey-blue-50, #4D5E80);
    /* Medium/Medium 24 */
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: var(--font-weight);
    line-height: 30px; /* 125% */
}

.productPara{
    color: var(--gray-blue-grey-blue-50, #4D5E80);
    font-size: 18px;
    font-weight: var(--font-weight);
}

.productDetailContainer > div:nth-child(1){
    display: flex;
    align-items: left;
}


.productDetailContainer > div:nth-child(2){
    display: flex;
    flex-direction: row;
    gap: 25px;
    min-height: 50vh;
}

.productDetailContainer > div:nth-child(2) > div:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 10px;
    background: var(--white-white, #FFF);
    /* Shadows/Gray Blue 30/3%/5b */
    box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
    padding: 30px;
    width: 100%;
}

.price{
    color: var(--gray-blue-grey-blue-60, #6B7A99);
    text-align: center;
    font-family: var(--font-family-links);
    font-size: 25px;
    font-weight: var(--font-weight-strong);
}

.productDetailContainer > div:nth-child(2) > div:nth-child(2){
    display: flex;
    padding: 20px 0px;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.productDetailContainer > div:nth-child(2) > div:nth-child(2) > div:nth-child(2){
    display: flex;
    flex-direction: column;
    gap:10px;
    border: 2px solid var(--gray-blue-grey-blue-70);
    border-radius: 10px;
    width: 100%
} 

.productDetailContainer > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > span{
    padding: 10px;
    border-bottom: 2px solid var(--gray-blue-grey-blue-70);
    color: var(--gray-blue-grey-blue-60, #6B7A99);
    font-family: var(--font-family-links);
    font-size: 16px;
    font-weight: var(--font-weight-strong);
}

.productDetailContainer > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
    padding: 10px;
}

.productDetailContainer > div:nth-child(2) > div:nth-child(1) > img{
    width: 60%;
}

.productDetailContainer > div:nth-child(2) > div:nth-child(2) > div:nth-child(3){
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.colorCircleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--gray-blue-grey-blue-70);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--font-family);
    font-size: 13px;
    font-style: normal;
    font-weight: var(--font-weight-strong);
    line-height: 27px; /* 200% */
}

.colorCircle{
    width: 40px;
    height: 40px;
    border-radius: 60px;
}

.black{
    background: var(--black-black, #000);
}

.orange{
    background: var(--orange-orange, #F63);
}

.grey{
    background: var(--product-color-prodict-color-4, #B4BED0);
}

@media screen and (max-width: 1000px) {
    .productDetailContainer{ 
        width: 100%;
    }
    .productDetailContainer > div:nth-child(2){
        flex-direction: column;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .productDetailContainer > div:nth-child(2) > div:nth-child(1) > img{
        width: 90%;
    }
    .price{
        font-size: 22px;
    }
    .productDetailContainer > div:nth-child(2) > div:nth-child(2) > div:nth-child(3){
        justify-content: center;
    }
}